language: node_js
node_js:
  - "12"
  - "11"
  - "10"
  - "8"
  - "6"
os:
  - linux
  - osx
  - windows
sudo: false
install:
  - npm --version
  - npm install
script:
  - npm test
  - [[ -z $(git status -s) ]] || exit 1
